* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes flasher {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flasher {
    display: block;
    animation: flasher 0.5s;
    color: white;
}