.toggle_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}

.toggle_button_icon {
    color: var(--nextui-colors-headerIconColor);
}

@media screen and (max-width: 650px) {
    .toggle_button {
        padding-left: var(--nextui-space-2);
        padding-right: var(--nextui-space-2);
    }
}