.navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.navbar_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(201, 201, 201);
    font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
    .navbar_link {
        font-size: 18px;
    }
}